{% load static%}
<div class="enroll">
    <h2>ЗАПИСАТЬСЯ</h2>
    <h3>ПОТОКИ:</h3>
    <form action="#" method="post">
        
        <div class="info">
            <input type="text" placeholder="Имя">
            <input type="text" placeholder="Фамилия">
            <input type="tel" placeholder="Номер телефона">
            <input type="email" placeholder="Почта">
        </div>
        <div class="streams">
            
            <div class="info-about-streams">
                <ul>
                    <li>№ </li>
                    <li>начало</li>
                    <li>конец </li>
                    <li>места</li>
                    <li>выбор</li>
                </ul>
            </div>
            {% for i in other_streams%}
            <label for="first-stream">
                <ul>
                    <li>1</li>
                    <li>{{i.start_date}}</li>
                    <li>{{i.end_date}}</li>
                    <li>{{i.max_capacity}}</li>
                    <li><input type="radio" name="streams" id="first-stream"></li>
                </ul>
            </label>
            {%endfor%}
        </div>
        <button id="sendBtn">Отправить</button>
    </form>
</div>