{% load static %}
<div class="you-will-learn">
    <h2>Чему вы научитесь?</h2>
    <div class="stacks">
        <!-- <span>HTML</span>
        <span>CSS</span>
        <span>JavaScript</span>
        <span>Работе с API</span>
        <span>Проектированию сайтов под все типы устройств</span>
        <span>Трудоустройство во время учебы</span>
        <span>Портфолио для старта карьеры</span>
        <span>Работе с базами данных</span> -->
        {% for i in Course.result%}
            <span>{{i}}</span>
        {%endfor%}
    </div>
    <h2>Содержание курса</h2>

    <div class="content">
        <button style="border-top-left-radius: 30px; border-top-right-radius: 30px;" class="accordion">
            <p>Вводная часть</p>
            ВВЕДЕНИЕ В КУРС
        </button>
        <div class="panel">
        <p>Lorem ipsum...</p>
        </div>

        {% for j in Course.program%}
        <button class="accordion">
            <p>{{Course.Course_id}} модуль</p>
            {{j}}
        </button>
        <div class="panel">
        <p>Lorem ipsum...</p>
        </div>
        {%endfor%}
        
    </div>
</div>