{% load static%}
<div class="recent-potok">
    <h2>Ближайший поток</h2>

    <div class="dates">
        <div class="start-date">
            <h3>НАЧАЛО</h3>
            <p id="start-date">{{nearest_stream.start_date}}</p>
        </div>
        <div class="end-date">
            <h3>КОНЕЦ</h3>
            <p id="end-date">{{nearest_stream.end_date }}</p>
        </div>
        <div class="places-of-people">
            <h3>ОСТАЛОСЬ МЕСТ</h3>
            <p id="places-of-people">{{nearest_stream.max_capacity }}</p>
        </div>
    </div>
</div>