<footer>
    <div class="wrapper">
        <div>
            <div class="logo__footer">
                <a href="#">
                    <img src="./images/logo-footer.png" alt="">
                    <h3>Ozimiz.kaz</h3>
                </a>
            </div>
            <div class="links-to-soc">
                <a href="#"><img src="./images/instagram.svg" alt=""></a>
                <a href="#"><img src="./images/telegram.svg" alt=""></a>
                <a href="#"><img src="./images/whatsapp.svg" alt=""></a>
                <a href="#"><img src="./images/linkedin.svg" alt=""></a>
            </div>
        </div>
        <div class="about">
            Мы и наши проекты
            <ul>
                <li><a href="#">Команда</a></li>
                <li><a href="#">СМИ о нас</a></li>
                <li><a href="#">Наш блог</a></li>
            </ul>
        </div>
        <div class="all-course">
            Наши курсы и студенты
            <ul>
                <li><a href="#">Все курсы</a></li>
                <li><a href="#">Отзывы студентов</a></li>
            </ul>
        </div>
        <div class="docs">
            Документы
            <ul>
                <li><a href="#">Договор публичной оферты</a></li>
                <li><a href="#">Политика обработки персональных данных</a></li>
            </ul>
        </div>
    </div>

</footer>