<nav>
    <div class="wrapper">
        <a class="logo" href="#">
            <img src="./images/logo.png" alt="">
            <h2>Ozimiz.kz</h2>
        </a>

        <ul class="links">
            <li>Программы <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2.5" d="m7 10l5 5m0 0l5-5" />
                </svg></li>
            <li><a href="#"><!--link-->Отзывы</a></li>
            <li><a href="#"><!--link-->О нас</a></li>
        </ul>
        <div class="btns">
            {% if user.is_authenticated %}
            <button>{{ user.first_name }}</button>
            {% else %}
            <button id="login">Войти</button>
            <button id="signin">Регистрация</button>
            {% endif %}

            <div class="modal-login">
                <div class="login__container">
                    <h2>С возвращением!</h2>
                    {% include '../auth/login.html'%}
                    <div>
                        <p>Еще не зарегистрировались?</p><button id="create-account" class="create-account">Cоздать
                            аккаунт</button>
                    </div>
                </div>
            </div>
            <div class="modal-signin">
                <div class="signin__container">
                    <h2>РЕГИСТРАЦИЯ</h2>
                    {% include '../auth/register.html' %}
                </div>
            </div>
        </div>

    </div>
</nav>