
<nav>
    <div class="wrapper">
        <a class="logo" href="#">
            {% load static%}
            <img src="{% static 'images/logo.png' %}" alt="">
            <h2>Ozimiz.kz</h2>
        </a>

        <ul class="links">
            <li>Программы <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2.5" d="m7 10l5 5m0 0l5-5" />
                </svg></li>
            <li><a href="#"><!--link-->Отзывы</a></li>
            <li><a href="#"><!--link-->О нас</a></li>
        </ul>
        <div class="btns">
            <button>Войти</button>
            <button>Регистрация</button>
        </div>
    </div>
</nav>