{% load static %}
<div class="you-will-learn">
    <h2>Чему вы научитесь?</h2>
    <div class="stacks">
        <span>HTML</span>
        <span>CSS</span>
        <span>JavaScript</span>
        <span>Работе с API</span>
        <span>Проектированию сайтов под все типы устройств</span>
        <span>Трудоустройство во время учебы</span>
        <span>Портфолио для старта карьеры</span>
        <span>Работе с базами данных</span>
    </div>
    <h2>Содержание курса</h2>

    <div class="content">
        <button style="border-top-left-radius: 30px; border-top-right-radius: 30px;" class="accordion">
            <p>Вводная часть</p>
            ВВЕДЕНИЕ В КУРС
        </button>
        <div class="panel">
        <p>Lorem ipsum...</p>
        </div>

        <button class="accordion">
            <p>1 модуль</p>
            ЯЗЫК ГИПЕРТЕКСТОВОЙ РАЗМЕТКИ ТЕКСТА - HTML
        </button>
        <div class="panel">
        <p>Lorem ipsum...</p>
        </div>

        <button class="accordion">
            <p>2 модуль</p>
            ФРЕЙМВОРК BOOTSTRAP
        </button>
        <div class="panel">
        <p>Lorem ipsum...</p>
        </div>

        <button class="accordion">
            <p>3 модуль</p>
            ФРЕЙМВОРК TAILWINDCSS
        </button>
        <div class="panel">
        <p>Lorem ipsum...</p>
        </div>

        <button class="accordion">
            <p>4 модуль</p>
            РАБОТА С GIT И GITHUB
        </button>
        <div class="panel">
        <p>Lorem ipsum...</p>
        </div>

        <button class="accordion">
            <p>5 модуль</p>
            ЯЗЫК ПРОГРАММИРОВАНИЯ JAVASCRIPT
        </button>
        <div class="panel">
        <p>Lorem ipsum...</p>
        </div>

        <button class="accordion">
            <p>6 модуль</p>
            ООП В JAVASCRIPT
        </button>
        <div class="panel">
        <p>Lorem ipsum...</p>
        </div>

        <button class="accordion">
            <p>7 модуль</p>
            РАБОТА С DOM
        </button>
        <div class="panel">
        <p>Lorem ipsum...</p>
        </div>

        <button style="margin-bottom: 40px; border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;" class="accordion">
            <p>8 модуль</p>
            ПРОЕКТНАЯ РАБОТА №1 ВЕРСТКА АДМИН- ПАНЕЛИ ДЛЯ ИНТЕРНЕТ-МАГАЗИНА.
        </button>
        <div class="panel">
        <p>Lorem ipsum...</p>
        </div>
    </div>
</div>